<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/admin/general_pages.css" rel="stylesheet" />
<link href="~/css/admin/editandcreateadmin.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model CourtConnect.ViewModel.Court.CourtViewModel

@{
    ViewData["Title"] = "Adaugă Teren";
}

<h1 class="page-title">Creează un teren nou</h1>

<div class="form-wrapper">
    <div class="form-card">
        <h2>Adaugă Teren</h2>

        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="form-label">Nume</label>
                <input asp-for="Name" class="form-control" placeholder="Introdu numele terenului" />
                <span asp-validation-for="Name" class="text-danger d-block"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationId" class="form-label">Locație</label>
                <select asp-for="LocationId" class="form-control">
                    <option value="" disabled selected>Selectează locatia</option>
                    @foreach (var location in Model.Locations)
                    {
                        <option value="@location.Value">@location.Text</option>
                    }
                </select>
                <span asp-validation-for="LocationId" class="text-danger d-block"></span>
            </div>

            <div class="btn-container">
                <button type="submit" class="btn-primary">Adaugă</button>
                <a asp-action="Index" class="btn-secondary">Înapoi la listă</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
