<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/css/admin/general_pages.css" rel="stylesheet" />
<link href="~/css/admin/editandcreateadmin.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@model CourtConnect.ViewModel.Level.LevelViewModel

@{
    ViewData["Title"] = "Editează un nivel";
}

<h1 class="page-title">Editează nivelul selectat</h1>

<div class="form-wrapper">
    <div class="form-card">
        <h2>Editează nivelul</h2>

        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="form-label">Nume Nivel</label>
                <input asp-for="Name" class="form-control" placeholder="Introdu numele nivelului" />
                <span asp-validation-for="Name" class="text-danger d-block"></span>
            </div>

            <div class="form-group">
                <label asp-for="Target" class="form-label">Puncte Necesare</label>
                <input asp-for="Target" class="form-control" placeholder="Introdu punctele pentru a atinge nivelul respectiv" />
                <span asp-validation-for="Target" class="text-danger d-block"></span>
            </div>

            <div class="btn-container">
                <button type="submit" class="btn-primary">✏️ Editează</button>
                <a asp-action="Index" class="btn-secondary">Înapoi la listă</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
